<servlet>
    <servlet-name>Assign7P1</servlet-name>
    <servlet-class>Assign7P1</servlet-class>
</servlet>
<servlet>
    <servlet-name>Assign7P2</servlet-name>
    <servlet-class>Assign7P2</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Assign7P1</servlet-name>
    <url-pattern>/getStrings</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>Assign7P2</servlet-name>
    <url-pattern>/getStrings2</url-pattern>
</servlet-mapping>